body {
    background: rgba(234, 128, 252, 0.20);
    overflow: hidden;
}

#content {
    margin: 30px auto;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 2px 5px #ccc;
    padding: 0px;
}

#header {
    background: rgba(234, 128, 252, 1);
    color: white;
    margin: 0px;
    height: 90px;
    line-height: 90px;
}

#header h1 {
    display: block;
    line-height: 85px;
    font-weight: bold;
    font-size: 30px;
}

#nav,
#admMenu,
#usrMenu {
    background: rgba(245, 165, 235, 1)!important;
    padding: 0;
    margin: 0;
    text-align: center;
}

#navbarNav,
#navbarNav ul,
#navbarNav ul li {
    height: 100%;
    text-align: center;
}

#admMenu a:hover,
#usrMenu a:hover {
    background: rgba(205, 135, 195, 1);
    border-radius: 5px;
    color: white;
    transition: all 500ms;
}

#admMenu div:hover,
#usrMenu div:hover {
    background: none;
    text-align: center;
}

.dropdown-divider {
    border-top-color: rgba(223, 46, 253, 1);
}

#navbarNav ul li {
    line-height: 50px;
}

.navbar-brand {
    font-size: 2.25rem;
    margin: 0px 0px 0px 5%;
}

li.nav-item {
    width: 100px;
    text-align: center;
    color: white;
}

li.nav-item:hover {
    background: rgba(205, 135, 195, 1);
    border-radius: 5px;
    transition: all 500ms;
}

li.nav-item.menu-item a:hover {
    line-height: 35px;
    transition: all 500ms;
}

li.nav-item.menu-item.activado {
    border-radius: 5px;
    box-shadow: inset 0px -5px 5px 1px rgba(205, 135, 195, 1);
}

#main {
    min-height: 45em;
    max-height: 45em;
    overflow: auto;
}

#main .jumbotron {
    padding: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.main-page {
    margin-top: 30px;
}

.main-page-cat {
    margin-top: 50px;
}

.gal-img, .usr-img {
    height: 150px
}

.usr-img{
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px #777;
}

.col-lg-8.map-content {
    max-height: 45em;
}

textarea.form-control {
    height: 300px;
}

#footer {
    position: fixed;
    width: 100rem;
    bottom: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: lightgray;
    color: gray;
    height: 40px;
}

#footer div {
    line-height: 35px;
}

.circle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 1px solid #b3b3b3;
}

.btn-circle,
.btn-circle-card-title,
.btn-circle--title,
.btn-circle-card-title-left {
    border-radius: 50%;
}

.btn-circle-card-title {
    position: relative;
    bottom: 50px;
    left: 80px;
}

.btn-circle-card-title-left {
    position: relative;
    width: 2rem;
    height: 2rem;
    bottom: 30px;
    right: 35px;
}

.btn-circle--title {
    position: relative;
    width: 3rem;
    height: 3rem;
    bottom: 15px;
    right: 0px;
}

.img-disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.btn-rncolor {
    background-color: rgba(245, 165, 235, 1);
    color: white;
}

.border-rncolor {
    border-color: rgba(245, 165, 235, 1);
}

.btn-rncolor:hover {
    background-color: rgba(205, 135, 195, 1);
}

.btn-outline-rncolor {
    border-color: rgba(245, 165, 235, 1);
    background-color: white;
    color: rgba(245, 165, 235, 1);
}

.btn-outline-rncolor:hover {
    border-color: rgba(205, 135, 195, 1);
    background-color: rgba(245, 165, 235, 1);
    color: white;
}

.btn-link-rncolor{
    color: rgba(205, 135, 195, 1);
}

.btn-link-rncolor{
    color: rgba(205, 135, 195, 1);
}

/* Alert Box */

#message-alert,
#message-alert-auto {
    position: fixed;
    width: 25rem;
    z-index: 9999;
    top: 0.5rem;
    right: 0;
}

#message-cookies{
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: -1rem;
}

#message-cookies .alert{
    border-radius: 0px;
}

.select2-container {
    min-width: 27rem;
}

#addImagenDiv>.select2-container {
    min-width: 30rem;
}

.num-error{
    border: 1px solid rgba(235,118,200,1);
    border-radius: 50%;
    box-shadow: inset 0px 0px 40px rgba(235,118,200,.65), 0px 0px 40px rgba(235,118,200,.65);
    padding: 50px;
    color: rgba(235,118,200,1);
    text-shadow: 0px 0px 45px rgba(235,118,200,.65);
}

#dd-categories{
    width: 15rem;
}

@media (max-height: 628px) {
    #main {
        min-height: 30rem;
    }
    .main-page {
        margin-top: 10px;
    }
    .main-page-cat {
        margin-top: 40px;
    }
    #nav {
        background: rgba(245, 165, 235, 1)!important;
        padding: 0;
        margin: 0;
        text-align: center;
        height: 50px;
    }
    #navbarNav,
    #navbarNav ul,
    #navbarNav ul li {
        height: 100%;
        text-align: center;
    }
    .dropdown-divider {
        border-top-color: rgba(205, 135, 195, 1);
    }
    #navbarNav ul li {
        line-height: 35px;
    }
    .navbar-brand {
        font-size: 2.25rem;
        margin: 0px 0px 0px 5%;
    }
    li.nav-item {
        width: 100px;
        text-align: center;
        color: white;
    }
    textarea.form-control {
        height: 100px;
    }
    .map-content {
        max-height: 29em;
    }
    .btn-circle-card-title-left {
        position: relative;
        width: 2rem;
        height: 2rem;
        bottom: 35px;
        right: 40px;
    }
    .btn-circle--title {
        position: relative;
        width: 3rem;
        height: 3rem;
        font-size: 0.9rem;
        bottom: 5px;
        right: 0px;
    }
}


/** SWITCH BUTTONS **/
.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: rgba(245, 165, 235, 1);
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

body {
  padding: 1rem;
}

.dropdown-menu {
  margin-top: .75rem;
}
